/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.envs
.env.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.styleci.yml
phpunit.xml
v2.2.0.zip
.editorconfig
/commit-bot